body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
.popup-wrap footer {
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0;
  text-align: center;
  color: #6b7684;
}
.popup-wrap input:focus,
.popup-wrap input:active {
  outline: none;
  border-color: #191f28;
}
